.syntaxhighlighter {
  background-color: #f3f3f3 !important;
  padding: 15px;
}
.syntaxhighlighter .line.alt1 {
  background-color: #f3f3f3 !important;
}
.syntaxhighlighter .line.alt2 {
  background-color: #f3f3f3 !important;
}.syntaxhighlighter .toolbar {display:none;
}